body {
    font-family: 'Arial', sans-serif; /* Example font */
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    background-image: url('images/image\ \(2\).avif'); /* Add image path */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; /* Full width to contain the login options */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: make login container slightly transparent */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow for depth */
}

.login-option {
    width: 300px;
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.login-option:hover {
    background-color: #e6e6e6;
}

.login-option h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto 0;
    display: block;
}

.login-form button:hover {
    background-color: #0056b3;
}

.forgot-password {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #007bff;
    margin-top: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}


